.inputField {
    @apply px-2 py-1 rounded text-black outline-none w-full bg-white flex items-center border-[1px] border-gray-400
}

.spinner {
    width: 33px;
    height: 33px;
    border: 5px solid rgb(66, 66, 187);
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}